# Data Types and Structures - Theory Questions

**1. What are data structures, and why are they important?**
   - Data structures are organized formats for storing and managing data in a computer so that it can be used efficiently. They define the relationship between the data and the operations that can be performed on that data.
   - Data Structures Are Important for the following reasons:
            1. Efficiency
            2. Scalability
            3. Resuability and abstraction
            4. Problem solving
            5. Resource optimization
   - Python comes with several built-in data structures, and also allows the creation of custom ones.
   - For example:

In [1]:
fruits = ['apple', 'banana', 'mango'] # List
print(fruits[1])

coordinates = (10, 20) # Tuple
print(coordinates[0])

unique_numbers = {1, 2, 3, 2} # Set
print(unique_numbers)

student = {'name': 'Alice', 'age': 21} # Dictionary
print(student['name'])

stack = [] # Stack
stack.append(10)
stack.append(20)
stack.pop()
print(stack)

from collections import deque # Queue
queue = deque()
queue.append(10)
queue.append(20)
queue.popleft()
print(queue)

banana
10
{1, 2, 3}
Alice
[10]
deque([20])

**2.  Explain the difference between mutable and immutable data types with examples.**
   - *Mutable*:
            -> A mutable object can be changed after it is created.
            -> it can be modified, added, or removed without creating a new object.
            -> Examples: List, Dictionary, Sets
   - *Immutable:*
            -> An immutable object cannot be changed after it is created.
            -> Any modification creates a new object in memory.
            -> Examples: String, Tuple, Integers, Float, Boolean
   - For example:

In [3]:
my_list = [1, 2, 3] # Mutable
print((my_list))

my_list.append(4)
print(my_list)

[1, 2, 3]
[1, 2, 3, 4]

In [4]:
my_tuple = (1, 2, 3) # Immutable
print((my_tuple))

my_tuple.append(4)
print(my_tuple)

(1, 2, 3)

AttributeError: 'tuple' object has no attribute 'append'

**3. What are the main differences between lists and tuples in Python?**
   - Lists:
          -> They are Mutable(Changable)
          -> Lists can be used when there is need to add/remove/change items frequently
          -> Slightly slower (more flexible)
   - Tuples:
          -> They are immutable(Non Changable)
          -> Tuples are used when data should be remained constant.
          -> Slightly faster (not flexible)
   - For example:

In [5]:
my_list = [1,2,3] #lists can be changed because they are mutable
my_list.append(10)
print(my_list)

my_tuple = (1,2,3) #tuples can't be changed because they are immutable
my_tuple.append(10)
print(my_tuple)

[1, 2, 3, 10]

AttributeError: 'tuple' object has no attribute 'append'

**4. Describe how dictionaries store data.**
   - Dictionary data type is another feature in Python
   - The dictionary is an unordered data set of comma - seperated key:value pairs, within {}, with the requirement that within a dictionary, no two keys can be same.
   - For example:

In [6]:
my_dict = {"name": "Saa","age": 18,"city": "Salem"}
print(my_dict)

{'name': 'Saa', 'age': 18, 'city': 'Salem'}

**5. Why might you use a set instead of a list in Python?**
   - Sets are also similar to lists that can store multiple values.
   - Python sets are slightly different from lists due to the factors such as:
             -> Sets are created by specifying comma seperated values enclosed in curly brackets {}.
             -> Sets are unordered and unindexed unlike lists
             -> Sets do not allow duplicate entries like lists
             -> Sets cannot contain mutable elements
   - For example:

In [7]:
myset = {1,2,3,4,4,3} # doesn't allow duplicate values
print(myset)

{1, 2, 3, 4}

**6. What is a string in Python, and how is it different from a list?**
   - A Python string is a sequence of characters and each character can be individually accessed using its index.
   - Each character stored in the string is a Unicode character.
   -*Strings* are immutable (which cannot be changed), whereas *Lists* are mutable (which can be changed).
   - For example:

In [9]:
Name = "Prathysaa"
print(f"My Name is {Name}.")

My Name is Prathysaa.

**7. How do tuples ensure data integrity in Python?**
   - Data integrity means ensuring that data remains:
          -> Consistent
          -> Accurate
          -> Unchanged
   - Tuples in Python help ensure data integrity because they are immutable — once a tuple is created, its elements cannot be changed, added, or removed.
   - For example:

In [10]:
students_id = (2022, 2023, 2024, 2025) # Accidentally trying to change it will raise an error
students_id[1]=2026
print(students_id)

TypeError: 'tuple' object does not support item assignment

**8. What is a hash table, and how does it relate to dictionaries in Python?**
   - A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index (called a hash) where the value is stored in memory.
   - In Python, the built-in dict type is implemented using a hash table.
   - To work with a hash table, dictionary keys must be:
       -> Immutable
       -> Hashable
   - For example:

In [11]:
vowels = {'a':1, 'e':2, 'i':3, 'o':4, 'u':5}
vowels['a']

1

**9.  Can lists contain different data types in Python?**
   - Yes! Lists in Python can contain different data types.
   - It can contain:
        * String
        * Integers
        * Float
        * boolean
        * None type
        * Dictionary
        * Another List
   - For example:

In [12]:
my_list = ["Prathysaa", 18, 20.23, True, None, {'name':"Saa"},[1,2,3]]
print(my_list)

['Prathysaa', 18, 20.23, True, None, {'name': 'Saa'}, [1, 2, 3]]

**10. Explain why strings are immutable in Python?**
   - 	Strings are often used as keys in dictionaries or in sensitive areas like file paths. Immutability ensures they can't change unexpectedly.
   - Python can optimize memory by reusing string objects, this is  possible only because the strings are immutable.
   - Reasons for immutability includes:
                      -> Safety
                      -> Hashing
                      -> Consistency
                      -> Performance
   - For example:

In [13]:
text = "hello"
text[0] = "Y"

TypeError: 'str' object does not support item assignment

**11. What advantages do dictionaries offer over lists for certain tasks?**
   - Dictionaries are containers that associate keys to values. This is, in a way similar to lists.
   -  Advantages of Dictionaries over Lists in Python:
          ->  Fast Lookup by Key (hashing)
          ->  Key-Value Pair Storage
          ->  Flexible Keys - usage of strings, numbers, or even tuples as keys, making data more descriptive.
          ->  Better for Structured Data
          -> No Need to Remember Indexes
   - For example:

In [14]:
Student = {'Name': "Saa", 'Marks' : 68, 'Grade': "C"}
print(Student['Name'])

Saa

**12.  Describe a scenario where using a tuple would be preferable over a list.**
   -  tuple can be used instead of a list when you want to store a fixed, unchangeable group of items — especially when data integrity, safety, or performance matters.
   - Scenario: When to Prefer a Tuple Over a List:
         *GPS Coordinates* - Which can't be changed

In [15]:
Location = (11.1271,78.6569) # Tamil Nadu (latitude and longitude)
Location[1] = 79.256
print(Location)

TypeError: 'tuple' object does not support item assignment

**13. How do sets handle duplicate values in Python?**
   - Sets automatically remove duplicate values in Python.
   - When creating a set, any repeated items are stored only once, because sets are unordered collections of unique elements.
   - For example:

In [16]:
my_set = {1,2,5,5,2,3,4}
print(my_set)

{1, 2, 3, 4, 5}

**14. How does the “in” keyword work differently for lists and dictionaries?**
   - In a List:
        The *in* keyword checks if a value exists among the elements.
   - In a Dictionary:
        The *in* keyword checks if the key exists among the elements not the values.
   - For example:

In [19]:
my_list = [1,2,3,4,18.9]
print(18.9 in my_list)

my_dict = {"name": "Saa","age": 18,"city": "Salem"}
print("name" in my_dict)

True
True

**15. Can you modify the elements of a tuple? Explain why or why not?**
   - No, you cannot modify the elements of a tuple in Python.
   - Tuples are immutable, which means once created, their elements cannot be changed, added, or removed.
   - For example:

In [1]:
my_tuple = ("apple","banana","cherry") # cannot be change since tuples are immutable.
my_tuple[1]="mango"
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

**16. What is a nested dictionary, and give an example of its use case?**
   - Storing dictionary inside another dictionary is called nested dictionary.
   - It allows to store hierarchical or structured data.
   - For example:

In [2]:
Employees = {'John':{'age':25,'salary':25000,},'Diya':{'age':23,'salary':50000}}
for key in Employees:
  print("Employee",key,':')
  print('age:',(Employees[key]['age']))
  print('salary:',(Employees[key]['salary']))

Employee John :
age: 25
salary: 25000
Employee Diya :
age: 23
salary: 50000

**17.  Describe the time complexity of accessing elements in a dictionary.**
   - In Python, dictionaries are implemented using hash tables, which allow very efficient key-based access.
   - Average Case: O(1) – Constant Time
          -> Computes the hash of the key
          -> Locates the index in memory
          -> Returns the value
   - Worst Case: O(n) – Linear Time
          -> In rare situations with many hash collisions, multiple keys end up in the same bucket.
          -> Python resolves these collisions, but in the worst-case (like poorly distributed keys), it may need to search through several elements.
          -> This leads to O(n) time in very unlikely cases.
   -For example:

In [ ]:
my_dict = {"name": "Ram", "age": 35} #This process takes the same amount of time, regardless of the dictionary size
print(my_dict["age"]) # 0(1) Case

**18. In what situations are lists preferred over dictionaries?**
   - Lists are preferred over Dictionaries because:
          -> Ordered sequence
          -> Simple collections
          -> Index based access
          -> Allows duplicates
          -> Fast iteration
          -> Easy sorting
          -> ordered insertion/removal
   - For example:

In [5]:
grocery_list = ["Carrot","Onion","Tomato","Garlic","Beetroot"]
grocery_list.append("Brinjal")
grocery_list.sort()
print(grocery_list)

['Beetroot', 'Brinjal', 'Carrot', 'Garlic', 'Onion', 'Tomato']

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
   - *Hashing-based storage:* Dictionaries use a hash table to store keys. The order of elements is based on their hash values, which has nothing to do with the order in which they are entered.
   - An unordered data structure does not preserve the order of elements. Elements in such structures are stored in an unpredictable sequence.
   - It affects data retrieval:
                -> No guaranteed order of elements.
                -> Does not allow direct indexing or slicing.
                -> Consistent access, but unpredictable structure.
                -> Impact on applications that rely on order.
   - For example:

In [6]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key in my_dict:
  print(key)

a
b
c

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**
   - Access Method:
          List:       (1) Accessed by index
                      (2) Retrival is order dependent

          Dictionary: (1) Accessed by key
                      (2) Retrieval is key-based
   - Ordering:
          List: Ordered by default; items maintain the sequence they were added in.

          Dictionary: Unordered
   - Uses:
          List: Use a list when there is a need for ordered collection of items accessed by position.

          Dictionary: Use a dictionary when there is need to associate values with unique keys for fast lookup.
   - For example:

In [7]:
my_list = ["Saa", 18, 20.23, True, None] # accesed by index
print(my_list[1])

my_dict = {'name': 'Saa', 'age': 18, 'grade': 'A'} # accessed by key
print(my_dict['name'])

18
Saa

# Data Types and Structures - Practical Questions

**1. Write a code to create a string with your name and print it.**

In [11]:
Name = "Prathysaa"
print("My name is", (Name)) # Print the string

My name is Prathysaa

**2. Write a code to find the length of the string "Hello World".**

In [12]:
str = "Hello World"
print(len(str)) # Print the length of the string

11

**3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [13]:
str = "Python Programming"
print(str[:3]) # Slices the first 3 characters from the string

Pyt

**4. Write a code to convert the string "hello" to uppercase.**

In [14]:
str = "hello"
print(str.upper()) # converts the string to uppercase

HELLO

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [15]:
str =  "I like apple"
print(str.replace("apple","orange")) # replaces the word apple by the word orange

I like orange

**6. Write a code to create a list with numbers 1 to 5 and print it.**

In [17]:
my_list = [1,2,3,4,5]
print(my_list) # prints the list

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [18]:
my_list =  [1, 2, 3, 4]
my_list.append(10) # appends the number 10 to the list
print(my_list)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [19]:
my_list = [1,2,3,4,5]
my_list.remove(3) # removes 3 from the list
print(my_list)

[1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [20]:
my_dict = ['a','b','c','d']
print(my_dict[1]) #access the second element in the list

b

**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [21]:
my_list = [10, 20, 30, 40, 50]
print(my_list[::-1]) # Reverses the list

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [22]:
my_tuple = (100,200,300) # creates a tuple
print(my_tuple)

(100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [24]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2]) #access the second-to-last element of the tuple

blue

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [25]:
my_tuple = (10, 20, 5, 15)
print(min(my_tuple)) # finds the minimum number in the tuple

5

**14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [28]:
my_tuple = ('dog', 'cat', 'rabbit')
cat_index = my_tuple.index("cat")
print(cat_index) #finds the index of the word cat

1

**15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [31]:
fruits = ("apple", "banana", "cherry") # creates a tuple
if "kiwi" in fruits: # checks for the word kiwi
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

**16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [33]:
my_set = {'a','b','c'} # Create a set with elements 'a', 'b', 'c'
print(my_set)

{'a', 'c', 'b'}

**17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [35]:
my_set = {1, 2, 3, 4, 5}
my_set.clear() # clears all elements from the set
print(my_set)

set()

**18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [36]:
my_set = {1, 2, 3, 4}
my_set.remove(4) # removes the element 4 from the set
print(my_set)

{1, 2, 3}

**19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [37]:
my_set1 = {1, 2, 3}
my_set2 = {3, 4, 5}
print(my_set1.union(my_set2)) # Finds the union of the two sets

{1, 2, 3, 4, 5}

**20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [38]:
my_set1 = {1, 2, 3}
my_set2 = {2, 3, 4}
print(my_set1.intersection(my_set2)) # finds the intersection of two sets

{2, 3}

**21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [39]:
my_dict = {"name": "Saa","age": 18,"city": "Salem"} # Create the dictionary
print(my_dict)

{'name': 'Saa', 'age': 18, 'city': 'Salem'}

**22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [41]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = "USA" # Add a new key-value pair
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [42]:
my_dict =  {'name': 'Alice', 'age': 30}
print(my_dict['name']) # access the value associated with the key "name"

Alice

**24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [43]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop('age') # removes the key "age" from the dictionary
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [47]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict: # Check if the key "city" exists
  print('The key "city" exists in the dictionary')
else:
  print('The key "city" does not exists in the dictionary')

The key "city" exists in the dictionary

**26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [49]:
my_list = [1,2,3,4]
my_tuple = (1,2,3,4)
my_dict = {"name": "Dev","age": 48,"salary": "60000"}
print("List:", my_list) # create a list
print("Tuple:", my_tuple) # create a tuple
print("Dictionary:", my_dict) # create a dictionary

List: [1, 2, 3, 4]
Tuple: (1, 2, 3, 4)
Dictionary: {'name': 'Dev', 'age': 48, 'salary': '60000'}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)**

In [52]:
import random
random_list = []
for i in range (5):
  random_list.append(random.randint(1,101)) # Create a list of 5 random numbers between 1 and 100
  random_list.sort() # Sort the list in ascending order
print(random_list)

[21, 24, 50, 62, 93]

**28. Write a code to create a list with strings and print the element at the third index.**

In [53]:
lst = ["Summer","Winter","Spring","Autumn"]
print(lst[2]) # prints the element at the third index.

Spring

**29. Write a code to combine two dictionaries into one and print the result.**

In [54]:
my_dict1 = {'a': 1, 'b': 2}
my_dict2 = {'c': 3, 'd': 4}
my_dict1.update(my_dict2) # combine two dictionaries into one
print(my_dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**30. Write a code to convert a list of strings into a set.**

In [61]:
lst = ["Yellow","Green","Blue","Pink","Brown","Red"]
my_set = set(lst) # Convert the list into a set
print(my_set)

{'Yellow', 'Red', 'Blue', 'Brown', 'Pink', 'Green'}